/* Дерево:
wrapper>menu>menu__item>menu__link
                    submenu>submenu__item>submenu__link>
                                subsubmenu>subsubmenu__item>subsubmenu__link> */
                                
/* 01 */
* {  /* Задаю общие параметры для всех элементов */
    text-decoration: none;
    color: #cbcbcb; 
}
.wrapper {
    display: inline-block;
}

.header, 
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header {
    justify-content: space-between;
}
.logo {
    width: 20%;
    padding-left: 100px;
    justify-content: right;
}
a {
    text-decoration: none;
}
.logo__picture-wrap {
    width: 50%;
}
.logo__picture {
    min-width: 60%;
    max-width: 90%;
}
/* 10 *
.menu-wrap {  /* Задаю общие параметры для menu *
    width: 100%;
}
/* 10 */
.menu-wrap {  /* Задаю общие параметры для menu */
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}
/* 10 */
.menu__item {  /* Задаю параметры для элементов menu */
    background-color: #333333;
    display: block;
    /*padding: 40px;*/
    text-transform: uppercase;
}

li a {
    display: block; /* Ссылка как блочный элемент */
    padding: 40px;
}
/*
.menu__item.logo.li a {
    display: block; /* Ссылка как блочный элемент *
    padding: 0;
}
/* 20 */
.menu__item:hover,
.submenu__item:hover,
.subsubmenu__item:hover {  /* Задаю параметры для элементов menu, при наведении на них */
    background-color: #009eef;
    outline: 2px solid #0084ef;
    color: white;
}
/* 10 */
.submenu {  /* Задаю положение для submenu */
    top: 95px;
    left: 0;
}
/* 10 */
.submenu__item {  /* Задаю положение для элементов submenu */
    display: block;
    /* padding: 40px;*/
    width: 200px;
    text-align: left;
    background-color: #333333;
}
/* 10 */
.subsubmenu {  /* Задаю положение для subsubmenu */
    top: 100px;
    left: 100%;
}
/* 10 */
.subsubmenu__item {  /* Задаю положение и параметры  для элементов subsubmenu */
    /*padding: 40px;*/
    width: 400px;
    text-align: left;
    display: inline-block;
    background-color: #333333;
}
   
/* Задаю позиционирование для элементов menu__item и subsubmenu__item */
.menu__item, /* 10 */
.subsubmenu__item { /* 10 */
    /* position указывает, как элемент позиционируется в документе.
    position: relative; - элементы относительные. 
    Их можем двигать, относительно элементов со значением position: absolute; */
    position: relative; 
    display: inline-block; /* задаю как строчно-блочный элемент, которому задаются параметры - ширина, высота, положение текста внутри. Не добавляет разрыв строки после элемента, поэтому этот элемент может располагаться рядом с другими элементами */ 
    font-size: 1rem;
}

/* Задаю позиционирование для элементов submenu и subsubmenu */
.submenu, /* 10 */
.subsubmenu { /* 10 */
    display: none;
    /* position указывает, как элемент позиционируется в документе.
    position: absolute; - "главный" элемент-предок, относительно которого располагаются элементы со значением position: relative; - элементы относительные.  */
    position: absolute;
    background: #009eef;
}

/* Задаю "поведение" для .submenu и .subsubmenu - при наведении курсором на их родителей (элементов menu__item, и submenu__item) */
.menu__item:hover .submenu, /* 30 */
.submenu__item:hover .subsubmenu {  /* 30 */
    display: block;  /* задаю как блочный элемент, т.к. Блочные элементы располагаются один над другим, вертикально */ 
    outline: 2px solid #0084ef;
}
.main__title,
.main__item {
    color: #000000;
}

p {
    padding-top: 20px;
}

h2 {
    padding-top: 30px;
    font-size: 2rem;
    text-align: center;
}


